<div class="container">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title col-xs-10 topMargin">Orders</h3>
        <a data-target="#addEditOrder" data-toggle="modal" (click)="AddOrder()" class="cursorPointer">
          <i style="color:white" class="material-icons">add_circle_outline</i>
        </a>
      </div>
      <div class="panel-body em25Div">
        <!-- <table id="orders" class="table table-striped mat-elevation-z8" matSort>
          <thead>
            <tr>
              <th *ngFor="let head of headElements; let i = index">{{head | titlecase}}
                <mdb-icon fas icon="sort"></mdb-icon>
              </th>
              <th>Sl.No.</th>
              <th aria-controls="tableSortExample" scope="col" [mdbTableSort]="orders" [sortBy]="OrderNo">Order No.
                <mdb-icon fas icon="sort"></mdb-icon>
              </th>
              <th>Style No.</th>
              <th>Quantity</th>
              <th>Delivery</th>
              <th>Buyer Name</th>
              <th>Factory Name</th>
              <th>P.O #</th>
              <th>Shipping Mode</th>
              <th>Price FOB</th>
              <th>Factory Price</th>
              <th>Total Value</th>
              <th>Ship Date</th>
              <th>Edit Order</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let or of orders; let i=index">
              <td>{{i+1}}</td>
              <td>{{or.OrderNo}}</td>
              <td>{{or.StyleNo}}</td>
              <td>{{or.Quantity}}</td>
              <td>{{or.Delivery | date: 'fullDate'}}</td>
              <td>{{or.BuyerName}}</td>
              <td>{{or.FactoryName}}</td>
              <td>{{or.PushraseOrderNo}}</td>
              <td>{{or.ShippingModeName}}</td>
              <td>{{or.PriceFOB}}</td>
              <td>{{or.FactoryPrice}}</td>
              <td>{{or.TotalValue}}</td>
              <td>{{or.ShipDate | date: 'fullDate'}}</td>
              <td>
                <a (click)="EditOrder(or)" data-target="#addEditOrder" data-toggle="modal" class="cursorPointer">
                  <i class="material-icons">mode_edit</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table> -->
        <div fxLayout fxLayoutAlign="center center">
          <mat-form-field fxFlex="40%">
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
          <div class="alignRight padTop14">
            Show Active Orders Only :  
              <input type="checkbox" class="cursorPointer" [checked]="showActiveOrdersOnly"
              (change)="toggelActiveOrders()" />
          </div>
        </div>
        <div #TABLE>
          <table class="table-striped mat-elevation-z8 " #table mat-table [dataSource]="dataSource" matSort  matSortActive="Delivery" matSortDirection="desc">
            <ng-container matColumnDef="OrderNo">
              <!-- <mat-header-cell *matHeaderCellDef>
              <span mat-sort-header> Order No </span>
              <input class="filter-input" matInput (keyup)="doFilter($event.target.value)"
                placeholder="Filter Order" />
            </mat-header-cell> -->
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Order No </th>
              <td mat-cell *matCellDef="let element"> {{element.OrderNo}} </td>
            </ng-container>

            <ng-container matColumnDef="StyleNo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Style No </th>
              <td mat-cell *matCellDef="let element"> {{element.StyleNo}} </td>
            </ng-container>

            <ng-container matColumnDef="Quantity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
              <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
            </ng-container>

            <ng-container matColumnDef="BuyerName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Buyer Name </th>
              <td mat-cell *matCellDef="let element"> {{element.BuyerName}} </td>
            </ng-container>

            <ng-container matColumnDef="FactoryName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Factory Name </th>
              <td mat-cell *matCellDef="let element"> {{element.FactoryName}} </td>
            </ng-container>

            <ng-container matColumnDef="PushraseOrderNo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Pushrase Order No </th>
              <td mat-cell *matCellDef="let element"> {{element.PushraseOrderNo}} </td>
            </ng-container>

            <ng-container matColumnDef="ShippingModeName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Shipping Mode </th>
              <td mat-cell *matCellDef="let element"> {{element.ShippingModeName}} </td>
            </ng-container>

            <ng-container matColumnDef="PriceFOB">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Price FOB </th>
              <td mat-cell *matCellDef="let element"> {{element.PriceFOB}} </td>
            </ng-container>

            <ng-container matColumnDef="FactoryPrice">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Factory Price </th>
              <td mat-cell *matCellDef="let element"> {{element.FactoryPrice}} </td>
            </ng-container>

            <ng-container matColumnDef="TotalValue">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Value </th>
              <td mat-cell *matCellDef="let element"> {{element.TotalValue}} </td>
            </ng-container>

            <ng-container matColumnDef="Delivery">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Delivery </th>
              <td mat-cell *matCellDef="let element"> {{element.Delivery | date: 'shortDate'}} </td>
            </ng-container>

            <ng-container matColumnDef="ShipDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Ship Date </th>
              <td mat-cell *matCellDef="let element"> {{element.ShipDate | date: 'shortDate'}} </td>
            </ng-container>

            <ng-container matColumnDef="update">
              <th mat-header-cell *matHeaderCellDef> Update </th>
              <td mat-cell *matCellDef="let element">
                <a (click)="EditOrder(element)" data-target="#addEditOrder" data-toggle="modal" class="cursorPointer">
                  <i class="material-icons">mode_edit</i>
                </a>
              </td>
            </ng-container>

            <ng-container matColumnDef="total">
              <mat-cell class="right-align" *matCellDef="let total"> Total: {{calculation()}}</mat-cell>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSize]="5"
            [pageSizeOptions]="[5, 10, 25, 50, 75, 100, dataSource.data.length]" showFirstLastButtons>
          </mat-paginator>
        </div>
      </div>
    </div>
    <button class="btn-primary alignRight" (click)="ExportTOExcel()">Export as Excel</button>
  </div>
  <!-- The Modal -->
  <div class="modal fade" id="addEditOrder">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 *ngIf="!isOrderEdit" class="modal-title">Add Order</h4>
          <h4 *ngIf="isOrderEdit" class="modal-title">Order Number : {{NewOrder.Order_No}}</h4>
          <!-- <button type="button" class="close" (click)="hideModal()">&times;</button> -->
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <h5 *ngIf="!isOrderEdit">Enter Order Number</h5>
          <input *ngIf="!isOrderEdit" type="text" name="ono" class="form-control" [(ngModel)]="NewOrder.Order_No" />
          <h5>Enter Style Number</h5>
          <input type="text" name="styleNo" class="form-control" [(ngModel)]="NewOrder.Style_No" />
          <h5>Enter Quantity</h5>
          <input type="number" name="quantity" class="form-control" [(ngModel)]="NewOrder.Quantity" />
          <h5>Enter Delivery date</h5>
          <input type="date" name="deliverydate" class="form-control" [ngModel]="NewOrder.Delivery | date:'yyyy-MM-dd'"
            (ngModelChange)="NewOrder.Delivery = $event" />
          <h5>Select Factory</h5>
          <select class="form-control" [(ngModel)]="NewOrder.Factory_Id">
            <option *ngFor="let fct of factories" value={{fct.Factory_Id}}>
              {{fct.Name}}
            </option>
          </select>
          <h5>Enter PO Number</h5>
          <input type="text" name="PONumber" class="form-control" [(ngModel)]="NewOrder.Purchase_Order_No" />
          <h5>Select Shipping Mode</h5>
          <select class="form-control" [(ngModel)]="NewOrder.ShippingMode_Id">
            <option *ngFor="let sm of shipppingmodes" value={{sm.ShippingMode_Id}}>
              {{sm.ShippingModeName}}
            </option>
          </select>
          <h5>Select Buyer</h5>
          <select class="form-control" [(ngModel)]="NewOrder.BuyerId">
            <option *ngFor="let b of buyers" value={{b.BuyerId}}>
              {{b.BuyerName}}
            </option>
          </select>
          <h5>Enter Price FOB</h5>
          <input type="number" step="any" name="FOBPrice" class="form-control" [(ngModel)]="NewOrder.Price_FOB" />
          <h5>Enter Factory Price</h5>
          <input type="number" step="any" name="FactoryPrice" class="form-control"
            [(ngModel)]="NewOrder.Factory_Price" />
          <h5>Total Value</h5>
          <!-- <textarea style="resize:none" rows="1" disabled class="form-control">
                {{(NewOrder.Price_FOB + NewOrder.Factory_Price) * NewOrder.Quantity}}
          </textarea> -->
          <input type="number" step="any" name="totalvalue" class="form-control"
            value="{{(NewOrder.Price_FOB + NewOrder.Factory_Price) * NewOrder.Quantity}}" disabled />
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary cursorPointer" (click)="AddEditOrder()">Send</button>
          <button type="button" class="btn btn-danger cursorPointer" data-dismiss="modal">Close</button>

          <!-- this button is hidden, used to close from typescript -->
          <!-- <button type="button" id="close-modal" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>
</div>