<div class="container">
  <div class="panel-primary">
    <div class="panel panel-heading container paddingnone">
      <ul class="nav nav-tabs panel-heading">
        <li routerLinkActive="active">
          <a routerLink="admin" class="panel-title fontbold">Master data</a>
        </li>
        <li routerLinkActive="active" class="panel-title fontbold">
          <a routerLink="orderdetails" class="panel-title fontbold">Order Details</a>
        </li>
        <li class="panel-title floatright fontbold">
          <a (click)="onLogout()" class="panel-title fontbold">Logout</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="">
    <router-outlet></router-outlet>
  </div>
</div>