<ngx-spinner type="cog"></ngx-spinner>
<!-- 
SPINNER TYPES (https://github.danielcardoso.net/load-awesome/animations.html)  
pacman
ball-clip-rotate-multiple
ball-clip-rotate-pulse
ball-scale-ripple-multiple
cog
timer
ball-spin-clockwise 
-->
<div class="backgroundimge">
  <div *ngIf="isCurrentTokenValid">
    <app-workspace [currentToken]="currentToken" (onTokenValuePopulate)="WhenTokenValuePoplated($event)">
    </app-workspace>
  </div>
  <div *ngIf="!isCurrentTokenValid">
    <app-login (onTokenValuePopulate)="WhenTokenValuePoplated($event)"></app-login>
  </div>
</div>