.em10Div{
    height: 10em;
    overflow-y: scroll;
}

.em20Div{
    height: 20em;
    overflow-y: scroll;
}

.alignLeft{
    float:left;
}

.topMargin{
    margin-top:4px;
}

.cursorPointer{
    cursor: pointer;
}

tr > th {
    text-align: center;
}
